<nav class="nav navbar-nav">
    <ul class="cl">
        <li class="dropDown dropDown_hover"><a href="javascript:;" class="dropDown_A"><i class="Hui-iconfont">&#xe600;</i> 新增 <i class="Hui-iconfont">&#xe6d5;</i></a>
            <ul class="dropDown-menu menu radius box-shadow">
                <li><a href="javascript:;"><i class="Hui-iconfont">&#xe620;</i> 测试</a></li>
                <li><a href="javascript:;"><i class="Hui-iconfont">&#xe60d;</i> 这里</a></li>
            </ul>
        </li>
    </ul>
</nav>